modules = ["python-3.12"]
run = "poetry run python chatbot.py"
disableGuessImports = true


[nix]
channel = "stable-24_05"

[deployment]
run = ["poetry run python chatbot.py"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 38943067

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python chatbot.py"
